/* ------------------------

    EP1000 Digital Fabrication and Prototyping Fundamentals
    Name: Melodi Joy Halim
    Admission Number: P2025902
    Class: DISM/FT/2B/03

------------------------ */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');
body {
    line-height: 24px;
    font-size: 14px;
    color: #b6b7b9;
	background: #13151f;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
}

/* ------------------------ Resetting ------------------------ */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h4 {
    font-size: 18px;
}
h6 {
    font-size: 14px;
}
a {
    color: #9F6;
    text-decoration: none;
    transition: 0.1s;
}
a,
a:hover {
    color: #3CF;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    border: none;
}
a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol {
    margin-bottom: 0;
}
select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
button{
    cursor: pointer;
}
textarea {
	height: 160px;
}
input[type="text"],
input[type="submit"],
button[type="submit"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea {
    background: #24262d;
    width: 100%;
    padding: 8px 15px;
    border: none;
}
input[type="submit"],
button[type="submit"] {
    width: auto;
    color: #666;
    padding: 4px 15px;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.section-title h1 i {
    color: #fece50;
	font-size: 40px;
	margin-right: 5px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-20 {
    margin-top: 20px;
}
.pt-60 {
	padding-top: 60px;
}
.pb-90 {
	padding-bottom: 90px;
}
.pb-20 {
	padding-bottom: 20px;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-90 {
    padding: 90px 0;
}


/* ------------------------ SCROLLBAR ------------------------ */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#99FF66, #55bf20);
    border-radius: 10px;
}


/* ------------------------ BACKGROUND ------------------------ */

#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../assets/img/tm-astro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

/* ------------------------ NAVBAR ------------------------ */

#tm-nav {
    z-index: 1000;
}

.navbar a {
    color: white;
}

.navbar-brand {
    font-size: 2.4rem;
}

.navbar {
    margin-top: 15px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.3rem;
    padding: 15px 65px;
    border-bottom: 1px solid white;
}

.nav-item {
    position: relative;
}

.circle {
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 20px;
    height: 20px; 
    background-color: white;
    border-radius: 50%;
}

.tm-border-bottom {
    border-bottom: 1px solid white;
    padding-bottom: 48px;
}

.tm-border-top {
    border-top: 1px solid white;
    padding-top: 48px;
}

.navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #99FF66;
    border-bottom: 1px solid #99FF66;
    font-weight: bold;
}

.cd-slider-nav li.selected a+.circle,
.navbar .navbar-nav .nav-item .nav-link:hover+.circle {
    background-color: #99FF66;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 1px solid rgba(255,255,255,1);
}

.navbar-toggler:focus {
    box-shadow: none;
}


/* ------------------------ ABOUT PAGE ------------------------ */

/* Portfolio */

.portfolio-box {
    padding: 35px;
    box-shadow: 0 0 20px #000000;
    background-color: rgba(0,0,0, 0.2);
    position: relative;
}

.portfolio-box .portfolio-content img {
    display: block;
    position: relative;
}

.portfolio-content > p {
    margin: 12px 0 30px;
    position: relative;
    padding-left: 70px;
}
.portfolio-content > h2 + a.theme-btn {
    margin: 12px 10px 20px 0;
}

.portfolio-content > p::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    width: 55px;
    height: 2px;
    margin: auto;
    background: #eb315a;
}

.portfolio-left {
    color: #eb315a;
    min-width: 100px;
}

.portfolio-content ul li {
    display: flex;
    margin-top: 12px;
    font-weight: 300;
}

.movie-branch .theme-btn {
    margin: 0.3em 2em;
}

.portfolio-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.movie-branch{
    display:flex;
}

.portfolio-bottom span {
    display:block;
    color: #eb315a;
}

.portfolio-bottom p {
    margin-bottom: 8px;
    padding-right: 2em;
}
.portfolio-box > .theme-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px 0 0;
}

/* Description */
.page-width-1 {
    max-width: 810px;
}

.intro-left {
    margin-right: 20px;
    padding: 30px 40px;
    max-width: 505px;    
}

.intro-circle-1 {
    left: -20px;
    top: -10px;
}

.intro-circle-2 {
    right: -20px;
    top: -10px;
    left: auto;
}

.intro-circle-3 {
    right: -20px;
    bottom: -10px;
    left: auto;
}

.intro-circle-4 {
    left: -20px;
    bottom: -10px;
}


/* Timeline (About Page) */
.r-title{
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
    color:#000;
}
  
  .text{
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);  
  }
  
  
  .time{
    display: var(--timeDisplay, inline-flex);
  }
  
  /* extensions */
  
  .time__month{
    margin-left: var(--timelineMounthMarginLeft, .25em);
  }
  
  /* skin */
  
  .time{
    padding: var(--timePadding, .25rem 1.25rem .25rem);
    background-color: var(--timeBackgroundColor, #f0f0f0);
  
    font-size: var(--timeFontSize, .75rem);
    font-weight: var(--timeFontWeight, 700);
    text-transform: var(--timeTextTransform, uppercase);
    color: var(--timeColor, currentColor);
  }
  
  /* card component */
  
  /* core styles */
  
  .card{
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
  }
  
  .card__content{
    margin-top: var(--cardContentMarginTop, .5rem);
  }

  .card__content ul{
    list-style-type: circle; 
    padding-left: 2em;
  }

  .card__content h4{
      padding: 0.5em 0 0.2em;
      color: black;
  }
  
  .card__content p{
    padding-left: 2em;
}

  /* skin */
  
  .card{
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: var(--timelineCardBackgroundColor, #fff);
  }
  
  /* extensions */
  
  .card__title{
    --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
    font-size: var(--cardTitleFontSize, 1.25rem);
  }
  
  /* Core Styles */
  
  .timeline{
    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
  }
  
  /* 1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too */
  
  .timeline__year{
    margin-bottom: 1.25rem; /* 1 */
    color: #000;
    font-size:1.5em;
  }
  
  .timeline__cards{
    display: var(--timeloneCardsDisplay, grid);
    grid-row-gap: var(--timeloneCardsGap, 1.5rem);
  }
  
  
  /* skin */
  
  .timeline{
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  
    border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .timeline__year{
    --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: var(--timelineYearFontWeight, 400);
  }
  
  .timeline__card{
    position: relative;
    margin-left: var(--timelineCardLineGap, 1rem);
  }
  
  /* 1. Stoping cut box shadow */
  
  .timeline__cards{
    overflow: hidden;
    padding-top: .25rem; /* 1 */
    padding-bottom: .25rem; /* 1 */
  }
  
  .timeline__card::before{
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
  
    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
  }
  
  /* Settings */
  .timeline{
    --timelineMainColor: #99FF66;
  }
  
  .page{
    max-width: 47rem;
    padding: 5rem 2rem 3rem;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    color: #222;
  }
  
  
  .substack{
    border:1px solid #EEE; 
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    height: 280px;
    margin: 1rem auto;;
  }



/* ------------------------ TIMELINE PAGE ------------------------ */

.topic-title{
    color: #ed666f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

main {
    padding: 2rem;
    max-width: 1400px;
    margin: auto;
}

@media screen and (max-width: 599px) {
    img {
      height: 250px;
      object-fit: cover;
    }
}

@media screen and (min-width: 600px) {
    .grid-wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1rem;
    }
}
@media screen and (min-width: 1025px) {
    .grid-wrapper {
      grid-template-columns: 1fr 2fr 1fr 2fr;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .grid-wrapper {
      grid-template-columns: 1fr 2fr;
    }
}

article {
    padding-bottom: 1rem;
    border-bottom: 1px solid #4d4d4d;
}
article p {
    font-family: 'Karla', sans-serif;
    font-size: 0.95rem;
    color: #c8c8c8;
}
article:nth-child(4) {
    grid-area: 0.0416666667;
}
  